export KUBECONFIG=$PWD/02-kube-configs/remote.kubeconfig

# Bastion Node 'i-0abcecd1f74e2815c'
export B_INT_IP="10.0.11.26"
export B_PUB_IP="34.197.207.124"
export B_HOST="ec2-34-197-207-124.compute-1.amazonaws.com"

# Loadbalancer Node 'i-0c4f97dd0e0da04c7'
export LB_INT_IP="10.0.11.246"
export LB_PUB_IP="3.222.196.249"
export LB_HOST="ec2-3-222-196-249.compute-1.amazonaws.com"

# Master Nodes
export MASTER0_INT_IP="10.0.21.164" # i-09686435164a60f52
export MASTER0_HOST="ip-10-0-21-164.ec2.internal"
export MASTER1_INT_IP="10.0.21.17" # i-01f336327d45eed94
export MASTER1_HOST="ip-10-0-21-17.ec2.internal"
export MASTER2_INT_IP="10.0.21.163" # i-04a9f951f240c190c
export MASTER2_HOST="ip-10-0-21-163.ec2.internal"

# Worker Nodes
export WORKER0_INT_IP="10.0.21.210" # i-09b6c535f44b8fe4b
export WORKER0_HOST="ip-10-0-21-210.ec2.internal"
export WORKER1_INT_IP="10.0.21.161" # i-0690413d875f83f48
export WORKER1_HOST="ip-10-0-21-161.ec2.internal"
export WORKER2_INT_IP="10.0.21.15" # i-0221de394391bb7ec
export WORKER2_HOST="ip-10-0-21-15.ec2.internal"
